@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik+Bubbles&family=Underdog&display=swap');

/* -- osnovni settings -- */
body {
    background-image: linear-gradient(to right,
        #16222A 0%, #3A6073 51%, #16222A 100%);  
}

/* -- header -- */
header {
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    background-image: url(../img/main_back.png);
    background-repeat: no-repeat;
    background-position: top 50px left 50px;
    margin-right: 80px;
}
h1 {
    font-family:'Oswald', sans-serif;
    font-size: 60px;
    color: white;
    padding: 30px;
}

.menuContainer {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 100%;
    background-color: #3A6073;
    z-index: 10;
}
.menuTriggier {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255,255,255 0.4);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuTrigierLines {
    width: 40px;
    height: 3px;
    background-color: #ff5b5b;
    position: relative;
}
.menuTriggierLines::before,
.menuTriggierLines::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    position: absolute;
    right: 0px;
    background-color: #ff5b5b;
}
.menuTriggierLines::before{top: -10px;}
.menuTriggierLines::after{top: 10px;}

header nav {
    /* тимчасово */
    display: none;
}





















